.return-div {
	font-size:18px;
	display:flex;
	margin-top:4px;
}
.top-background {
	background-color:#4B73A4;
}
.o-img {
	width: 50px;
	height: 50px;
	border-radius:50px;
}
.o-icon{ width:50px; height:50px;border-radius: 50px;}
.o-searchDoc{
	display: none;
}