.x-ownGrid{
	border: 0px;
}
.x-color{
	background-color: red;
}
.x-icon-lg {
  font-size: 18px;
}
.x-cls-filter {
  color: red;
  cursor: pointer;
}
.x-query-input {
  margin: 4px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
.x-query-input input {
  border: 0;
  margin: 0 12px;
}