.x-query-input {
  margin: 4px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
.x-query-input input {
  border: 0;
  margin: -4px 12px;
  height: 28px;
}
.x-icon-lg {
  font-size: 18px;
}
.return-div {
	font-size:18px;
	display:flex;
	margin-top:4px;
}
.top-background {
	background-color:#4B73A4;
}
.o-searchText {
	display: none;
}
.o-img {
	width: 50px;
	height: 50px;
	border-radius:50px;
}
.o-icon{ width:50px; height:50px;border-radius: 50px;}